version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
    # for testing
    target-branch: dependabot-uv

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
