name: Lint

on:
  # push:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint and type check with Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run hooks
        uses: j178/prek-action@v1
